*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'outfit';
	background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.Contact-container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.Contact-left{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap:20px;
}
.Contact-left-title h2{
	font-weight: 600px;
	font-size: 40px;
	color: darkviolet;
}
.Contact-left-title hr{
	border: solid;
	width: 110px;
	height: 5px;
    margin-bottom: 18px;
    border-color: darkorange;
    border-radius: 18px;
}
.Contact-item{
	border: none;
	outline: none;
	color: black;
	width: 400px;
	height: 50px;
	border-radius: 20px;
	padding-left: 25px;
	font-weight: 500px;
}
.Contact-left textarea{
	height: 100px;
	border-radius: 19px;
	font-weight: 500px;
	padding-top: 15px;
}
.Contact-item:Focus{
	border: 2px solid orange;
}
.Contact-left button{
	display: flex;
	padding: 15px 30px;
	text-align: center;
	border: none;
	border-radius: 50px;
	color: white;
	background: linear-gradient(to bottom right, #ff0066 0%, #ff9900 100%);
    font-size: 16px;
    cursor: pointer;
    gap:10px;
}
.Contact-left button img{
	height: 15px;
}
.Contact-right img{
	width: 500px;
}
@media only screen and (max-width: 768px) {
    .Contact-right {
        display: none;
    }

    .Contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Contact-left {
        align-items: center;
    }

    .Contact-item {
        width: 90vw;
    }
}


